In [6]:
import numpy as np
import pandas as pd
# apply() 和 applymap()
df=pd.DataFrame(np.random.randn(5,4))
df
# 1.1可以直接使用numpy的函数
#使用numpy函数修改dataframe的数据
np.abs(df)
# 1.2
# 通过apply将函数应用到列或行
f=lambda x:x.max()
df.apply(f)   #获取每列最大的元素值
# axis轴设置行或列
df.apply(f,axis=1)#获取每行最大的元素值

0   -0.063279
1    0.763680
2    1.877507
3   -0.502857
4    0.973281
dtype: float64

In [7]:
# 通过applymap（）将函数应用到每个数据
f2=lambda x:"%.2f"%x
df.applymap(f2)

       0      1      2      3
0  -0.13  -1.78  -1.76  -0.06
1  -0.17   0.12   0.76   0.43
2   1.88  -0.08   0.17   0.72
3  -2.12  -0.50  -0.50  -1.08
4  -0.65  -1.24  -0.22   0.97

In [38]:
# 2.排序
# 索引排序
# Series
s1=pd.Series(np.arange(4),index=list("dbca"))
s1.sort_index()   #升序排列(默认)                    
s1.sort_index(ascending=False)  #降序排列()
# DataFrame
s2=pd.DataFrame(np.arange(12).reshape(4,3),index=list("dbca"),columns=list("DBC"))
s2.sort_index()   #按行排列（升序降序ascending）
s2.sort_index(axis=1)   #按列排列

# 按值排序
# Series
s1["d"]=np.nan
s1.sort_values() #根据值的大小进行排序，当有缺失值会默认排在最后
s1.sort_values(ascending=False)#降序排列
s1["d"]=np.nan
s1.sort_values() #根据值的大小进行排序，当有缺失值会默认排在最后
s1.sort_values(ascending=False)#降序排列

# DataFrame
s2.sort_values(by="C")  #按照一列排序

s2.sort_values(by=["C","D"])#按照多列进行排序

df1=pd.DataFrame({'a':[3,7,9,0],'b':[1,-1,4,8],'c':[0,6,-3,2]})
print(df1)
df1.sort_values(by='a')  #按照一列进行排序

df1.sort_values(by=['a','c'],ascending=False) #按照多列降序排列

   a  b  c
0  3  1  0
1  7 -1  6
2  9  4 -3
3  0  8  2

   a  b  c
2  9  4 -3
1  7 -1  6
0  3  1  0
3  0  8  2

In [51]:
#3、唯一值或成员属性
#返回Series中的一个唯一值
s1=pd.Series([2,6,8,9,8,3,6],index=list('aaacccc'))
print(s1)
s1.unique()  #返回一个数组
s1.index.is_unique  #判断索引是否唯一

#计算值的个数
s1.value_counts()  #返回一个Series
# 成员属性 isin()判断值是否存在，返回布尔类型
# s1.isin([])# 判断数字8是否存在于s1当中
s1.isin({8})# 判断数字8事是否存在于s1当中
#判断多个值
s1.isin([8,2])
# DataFrame
df1=pd.DataFrame({'a':[3,7,9,0],'b':[1,-1,4,8],'c':[0,6,-3,2]})
df1.isin([2,4])

a    2
a    6
a    8
c    9
c    8
c    3
c    6
dtype: int64

       a      b      c
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False   True

In [56]:
# 4、处理缺失数据
df=pd.DataFrame([np.random.randn(3),[1,2,np.nan],[np.nan,4,np.nan],[1,2,3]])
df
#分为三步
# 1、判断是否存在缺失值 isnull()
df.isnull()

       0      1      2
0  False  False  False
1  False  False   True
2   True  False   True
3  False  False  False

In [61]:
# 2、丢弃缺失数据 dropna()
df.dropna() #默认丢弃行数据

df.dropna(axis=1) #丢弃缺失数据

          1
0 -0.098793
1  2.000000
2  4.000000
3  2.000000

In [63]:
# 3、填充缺失数据
df.fillna(-1.)

          0         1         2
0  0.774502 -0.098793  1.712963
1  1.000000  2.000000 -1.000000
2 -1.000000  4.000000 -1.000000
3  1.000000  2.000000  3.000000

In [94]:
# pandas的层级索引
import numpy as np
import pandas as pd
# list('aaabbbcccddd')
# list(map(int,list('012012012012')))
s1=pd.Series(np.random.randn(12),index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd'],[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]])
print(type(s1.index))
print(s1.index)

<class 'pandas.core.indexes.multi.MultiIndex'>
MultiIndex([('a', 0),
            ('a', 1),
            ('a', 2),
            ('b', 0),
            ('b', 1),
            ('b', 2),
            ('c', 0),
            ('c', 1),
            ('c', 2),
            ('d', 0),
            ('d', 1),
            ('d', 2)],
           )

In [98]:
# 2、选取
# 1、外层获取
s1['d']
# 2、内层获取  s1[外层，内层]
s1[:,2]
s1['a',0]

-0.9295933565740458

In [17]:
# 交换
# swaplevel() 交换内层和外层的索引
s1.swaplevel()
# sortlevel() 先对外层索引进行排序，然后在对内层索引进行排序 默认升序
# s1.sortlevel() #老版本有新版本还有sort_index sort_value
# 交换并排序分层操作
# s1.sortlevel().sortlevel()
s1.sort_index()
s1.sort_values()

NameError: name 's1' is not defined

In [4]:
# Pandas统计计算与描述
import numpy as np 
import pandas as pd
df=pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=list("abcd"),columns=["one","two"])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [6]:
#求和
#按行求和
df.sum()

one    9.25
two   -5.80
dtype: float64

In [8]:
#按列求和
df.sum(axis=1)

#排除缺失值   kipna=False：不排除缺失值  kipna=True:排除缺失值
df.sum(axis=1,skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [10]:
# df.idxmax()  返回每一列或每一行上面的最大值 (默认为列)
df.idxmax()
df.idxmax(axis=1)

a    one
b    one
c    NaN
d    one
dtype: object

In [11]:
df.cumsum()#样本值的累积和(默认列:将第一列数据和第二列数据相加放在第二列，以此类推)

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [13]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [15]:
ps=pd.Series(["a",'a','b','c']*4)
ps

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [16]:
ps.describe()

count     16
unique     3
top        a
freq       8
dtype: object