In [25]:
import numpy as np
import pandas as pd

# pandas输入与输出
# 1、读写文本格式的文件
# 读
pd.read_csv("writer.csv")

pd.read_table("writer.csv",sep=",")  #sep修改分割标志

pd.read_csv("array.csv",header=None)  #header=None：使用默认列名
pd.read_csv("array1.csv",names=list("abcde"))  #names=list("abcde"):自定义列名
pd.read_csv("array1.csv",names=list("abcde"),index_col="e")  #index_col="e"将列索引e所在的值变成行索引

pd.read_csv("array1.csv",names=list("abcde"),index_col=['d','e'])  #index_col=['d','e']将列索引d,e所在的值变成行索引组成层次化索引
pd.read_table("1.txt",sep="\s+")

NameError: name '读' is not defined

In [28]:
# 写
df1=pd.read_csv("array1.csv",names=list("abcde"))  #names=list("abcde"):自定义列名
df1.to_csv("array2.csv")

In [43]:
# JSON数据
import json
# 转化为python代码
data='{"data":[{"id":1487478464,"url":"http://m801.music.126.net/20210219211559/b5cab0b222ae1de6b9ff695e19ba185e/jdyyaac/obj/w5rDlsOJwrLDjj7CmsOj/4440966245/2ab3/6a82/4190/34c4d3c8e4a3048e2088102917389e10.m4a","br":96012,"size":3124565,"md5":"34c4d3c8e4a3048e2088102917389e10","code":200,"expi":1200,"type":"m4a","gain":0.0,"fee":8,"uf":null,"payed":0,"flag":4,"canExtend":false,"freeTrialInfo":null,"level":null,"encodeType":null,"freeTrialPrivilege":{"resConsumable":false,"userConsumable":false},"freeTimeTrialPrivilege":{"resConsumable":false,"userConsumable":false,"type":0,"remainTime":0},"urlSource":0}],"code":200}'
result=json.loads(data)
result
#将python代码转换为json字符串

# r=json.dumps(result)
# r
df=pd.DataFrame(result["data"],columns=["size",'expi'])
df

      size  expi
0  3124565  1200

In [82]:
# 分块读取文件
block=pd.read_csv("array1.csv",chunksize=1)  #,chunksize=数值：将数值分为几块读取
print(block,type(block))
print(block.get_chunk())#get_chunk([num]) 读取几行，默认为chunksize所制定的行数
# print(type(block.get_chunk()))
block=pd.read_csv("array1.csv",iterator=True)  #以迭代器的形式读取数据(不会将所有数据放在内存当中)
block
block.get_chunk(1)

<pandas.io.parsers.TextFileReader object at 0x000001F5A818F148> <class 'pandas.io.parsers.TextFileReader'>
   1  1.1  4  3  hello
0  1    3  0  4  world

   1  1.1  4  3  hello
0  1    3  0  4  world

In [87]:
# 利用函数或映射进行数据转换
data=pd.DataFrame({"food":["Apple","banana",'oringe','mango','tomato'],
                  "price":[4,3,3.5,6,12.3]})

data

     food  price
0   Apple    4.0
1  banana    3.0
2  oringe    3.5
3   mango    6.0
4  tomato   12.3

In [97]:
meat={"apple":"fruit",
      "banana":"fruit",
      "oringe":"fruit",
      "mango":"fruit",
      "tomato":"vagetable",
     } 
# data["class"]=data["food"].map(meat)  #根据food列对应meat字典的键，获取相应的值
# data

#将food列全部变为小写
low=data["food"].str.lower()
# print(low)
low

0     apple
1    banana
2    oringe
3     mango
4    tomato
Name: food, dtype: object

In [100]:
data["class"]=low.map(meat)  #根据food列对应meat字典的键，获取相应的值
data

     food  price      class
0   Apple    4.0      fruit
1  banana    3.0      fruit
2  oringe    3.5      fruit
3   mango    6.0      fruit
4  tomato   12.3  vagetable

In [105]:
# 利用函数处理
#通过匿名函数将字典里键所有大写改为小写
data['class1']=data["food"].map(lambda x:meat[x.lower()]) 
data

     food  price      class     class1
0   Apple    4.0      fruit      fruit
1  banana    3.0      fruit      fruit
2  oringe    3.5      fruit      fruit
3   mango    6.0      fruit      fruit
4  tomato   12.3  vagetable  vagetable

In [116]:
# 替换值   replace()  返回一个新的对象
data=pd.Series([-1,-999,2,-1000,3])
# 替换一个值
data.replace(-999,np.nan)
# 替换多个值
data.replace([-999,-1000],np.nan)
# 替换多个不同的值
data.replace([-999,-1000],[np.nan,0])
# 除此之外还可以使用字典
data.replace({-999:np.nan,-1000:1})

# data.replace和data.str.replace的区别
# 后面明显是字符串操作

0   -1.0
1    NaN
2    2.0
3    1.0
4    3.0
dtype: float64

In [132]:
#重命名轴索引
data=pd.DataFrame(np.arange(12).reshape((3,4)),index=["Beijing",'Tokyo','NewYork'],columns=['one','two','three','four'])
data

#重新索引(只能够调整已有的标签名)
data.reindex(["Beijing",'New York','Tokyo'])

# 大写
trans=lambda x:x[:4].upper()
data.index.map(trans)
# 就地修改
data.index=data.index.map(trans)
data

      one  two  three  four
BEIJ    0    1      2     3
TOKY    4    5      6     7
NEWY    8    9     10    11

In [137]:
#rename()   不修改原始数据，生成一个新的DataFrame对象
data.rename(index=str.title,columns=str.upper)


# 修改行索引名字及列索引名字，结合字典对标签进行标签更新
data.rename(index={"NEWY":"New"},columns={"four":"四"})

      one  two  three   四
BEIJ    0    1      2   3
TOKY    4    5      6   7
New     8    9     10  11

In [141]:
data

#inplace=True 就地修改原数据
data.rename(index={"NEWY":"New"},columns={"four":"四"},inplace=True)
data

      one  two  three   四
BEIJ    0    1      2   3
TOKY    4    5      6   7
New     8    9     10  11

In [153]:
# 离散化和面元划分 ---分阶段
# 离散化:获得该数据在整个样本中的顺序（从小到大,获得的是每个样本在样品集中的序号）



ages=[20,22,25,27,21,23,37,31,61,45,41,32]

bins=[18,25,35,60,100]
#判断某个数在给定bins的哪个区间范围内
cats=pd.cut(ages,bins)
cats.codes
pd.value_counts(cats)

#修改开闭区间
cats=pd.cut(ages,bins,right=False)
cats

names=["青少年","青年","中年","老年"]
#对所属数字按便签进行划分 

pd.cut(ages,bins,labels=names)

[青少年, 青少年, 青少年, 青年, 青少年, ..., 青年, 老年, 中年, 中年, 青年]
Length: 12
Categories (4, object): [青少年 < 青年 < 中年 < 老年]

In [160]:
data=np.random.rand(20)

#precision 精确到小数位数
cats=pd.cut(data,4,precision=2)
pd.value_counts(cats)

(0.25, 0.48]      8
(0.0069, 0.25]    6
(0.72, 0.96]      3
(0.48, 0.72]      3
dtype: int64

In [161]:
# qcut()函数 划分相等大小的面元
data=np.random.randn(1000)
cats=pd.qcut(data,4)
pd.value_counts(cats)

(0.643, 3.008]       250
(-0.0208, 0.643]     250
(-0.679, -0.0208]    250
(-2.675, -0.679]     250
dtype: int64

In [179]:
# 检测和过滤异常值
data=pd.DataFrame(np.random.randn(1000,4))
# data

#过滤异常值大于三的数据   any(1):取到大于3的行数
data[(np.abs(data)>3).any(1)]

            0         1         2         3
25   0.117475 -1.219090  0.409377  3.086539
77   0.231392  1.587828  0.171820  3.115994
106 -0.417249  0.373504 -3.149796 -0.376112
124 -0.505991  0.092446  3.058534  0.117340
395 -1.205176 -3.002691  1.374696  0.338061
820 -0.457708 -0.576634  3.349155 -2.074787
962  3.576708 -0.076273 -0.575411  0.124964